body {
  background-color: lavender;
  font-family: sans-serif;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/brain.png");
  background-position: left;
  margin-top: 40px;
  background-repeat: no-repeat;
  background-size: 450px 450px;
}
